{% raw %}

    <template id="widget-competitors">
        <table>
            <thead>
            <tr>
                <th style="min-width: 150px;">Имя Фамилия</th>
                <th style="min-width: 40px;">R1</th>
                <th style="min-width: 40px;">R2</th>
                <th style="min-width: 40px;">R3</th>
                <th style="min-width: 40px;">R4</th>
                <th>Итог</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="competitor in item.competitors">
                <td>{{ competitor | jsonPath 'i/{$.person.data.NAME.value}/dev {$.person.data.SURNAME.value}' }}</td>
                <td>{{ competitor.jsAdditionalFields.r1 }}</td>
                <td>{{ competitor.jsAdditionalFields.r2 }}</td>
                <td>{{ competitor.jsAdditionalFields.r3 }}</td>
                <td>{{ competitor.jsAdditionalFields.r4 }}</td>
                <td @click="alert(competitor.points)">{{ competitor.points }}</td>
            </tr>
            </tbody>
        </table>
    </template>

{% endraw %}

<script>
    Vue.component('widget-competitors', {
        template: '#widget-competitors',
        props: {
            item: Object
        },
        methods: {
            alert: function (data) {
                console.log(data);
            }
        }
    });
</script>

<div id="DefaultWeatherWrapper">
    <div>
        <span>Widget: {{ item.name }}</span>
    </div>

    <h5>Demo data Vue</h5>
    <div data-vue data-item="{{ multiple }}" data-wname="widget-competitors">
        {% raw %}
            <div :is="wname" :item="item"></div>
        {% endraw %}
    </div>

    <h5>Demo data TWIG</h5>

    <table>
        <thead>
        <tr>
            <th style="min-width: 80px;">Место</th>
            <th style="min-width: 150px;">Имя Фамилия</th>
            <th style="min-width: 40px;">R1</th>
            <th style="min-width: 40px;">R2</th>
            <th style="min-width: 40px;">R3</th>
            <th style="min-width: 40px;">R4</th>
            <th>Итог</th>
        </tr>
        </thead>
        <tbody>
        {% for competitor in multiple | jsonPath('$.competitors.[:1]') %}
            <tr>
                <td>{{ loop.index }}</td>
                {% for column in columns %}
                    {#<td>{ competitor | jsonExpression(column)|first }</td>#}
                    <td>{{ jsonPathExpression(competitor, column) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
