{% extends 'public.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ntr1xapply/js/apply.js') }}"></script>
{% endblock %}

{% block body %}

	<section class="page-section section-search">
		<div class="section-content">
			<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-xs-9">
					{{ render(controller('NTR1XSearchBundle:Search:search', {
						sid: 'section-search',
						search: search,
					})) }}
				</div>
				<div class="col-xs-3">
					{{ render(controller('NTR1XApplyBundle:Apply:button', {
						sid: 'section-apply',
					})) }}
				</div>
			</div>
		</div>
	</section>

	<section class="page-section section-results">
		<div class="section-content inset-top">
			<section class="widget-results">
				<div class="container-fluid no-padding">
					<div class="row">
						<div class="col-xs-9">
							{{ render(controller('NTR1XSearchBundle:Search:results', {
								sid: 'section-results',
								search: search
							})) }}
						</div>
						<div class="col-xs-3">
							{{ render(controller('NTR1XSearchBundle:Search:tags', {
								sid: 'section-tags',
								search: search
							})) }}
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>

{% endblock %}
