<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NTR1X{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,100,100italic,900,900italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" />

        {% block stylesheets %}

            <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/bootstrap-combobox/css/bootstrap-combobox.css') }}" rel="stylesheet" />

            {% for style in layout.styles %}
                <link href="{{ asset(style.assetPath) }}" rel="stylesheet" />
            {% endfor %}

        {% endblock %}

        {% block javascripts %}

            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/Sortable/Sortable.js') }}"></script>
            <script src="{{ asset('assets/vendor/vue/dist/vue.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap-combobox/js/bootstrap-combobox.js') }}"></script>

            <script src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset('assets/vendor/jsonpath-plus/lib/jsonpath.js') }}"></script>

            {% for script in layout.scripts %}
                <script src="{{ asset(script.assetPath) }}"></script>
            {% endfor %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body
        data-vue
        data-model="{{ model | serialize('json') }}"
        data-settings="{{ settings | serialize('json') }}"
        data-selection="{{ {
            category: null,
            domain: null,
            page: null,
            source: null,
        } | serialize('json', layout.jms.withNulls) }}"
    >
        <div data-vue-body>

            {% verbatim %}

            <shell
                v-ref:shell
                :model.sync="model"
                :settings.sync="settings"
                :selection.sync="selection"
            ></shell>

            {% endverbatim %}

            {% block templates %}

                {% for template in layout.templates %}
                    {{ render(controller('NTR1XLayoutBundle:Layout:asset', {
                        asset: template,
                    })) }}
                {% endfor %}

            {% endblock %}

        </div>

    </body>
</html>
