<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NTR1X{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,100,100italic,900,900italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" />

        {% block stylesheets %}

            <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css') }}" rel="stylesheet" />

            {% for style in widget.styles %}
                <link href="{{ asset(style.assetPath) }}" rel="stylesheet" />
            {% endfor %}

            {% for style in layout.styles %}
                <link href="{{ asset(style.assetPath) }}" rel="stylesheet" />
            {% endfor %}

        {% endblock %}

        {% block javascripts %}

            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/vue/dist/vue.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/vue-router/dist/vue-router.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jsonpath-plus/lib/jsonpath.js') }}"></script>

            {% for script in widget.scripts %}
                <script src="{{ asset(script.assetPath) }}"></script>
            {% endfor %}

            {% for script in layout.scripts %}
                <script src="{{ asset(script.assetPath) }}"></script>
            {% endfor %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body
        data-vue
        data-settings="{{ settings | serialize('json') }}"
        data-model="{{ model | serialize('json') }}"
        data-selected="{{ {
            category: {},
            page: {},
            domain: {},
            source: {},
        } | serialize('json') }}"
    >

        {% raw %}

        <div class="ge ge-shell">
            <div class="ge ge-head">
                <div class="ge ge-nav">
                    <shell-brand></shell-brand>
                </div>
                <div class="ge ge-subnav">
                </div>
                <div class="ge ge-structure">
                </div>
                <div class="ge ge-editor">
                    <shell-actions
                        :model.sync="model"
                        :category.sync="selected.category"
                        :domain.sync="selected.domain"
                        :page.sync="selected.page">
                    </shell-actions>
                </div>
            </div>
            <div class="ge ge-body">
                <div class="ge ge-nav" v-scrollable>
                    <shell-categories :categories.sync="settings.categories" :selected.sync="selected.category"></shell-categories>
                </div>
                <div class="ge ge-subnav" v-scrollable>
                    <shell-palette :category.sync="selected.category"></shell-palette>
                </div>
                <div class="ge ge-structure" v-scrollable>
                    <shell-domains :domains.sync="model.domains" :selected.sync="selected.domain"></shell-domains>
                    <shell-pages :pages.sync="model.pages" :selected.sync="selected.page"></shell-pages>
                    <shell-sources :sources.sync="selected.page.sources" :selected.sync="selected.source"></shell-sources>
                </div>
                <div class="ge ge-editor" v-scrollable>
                    <div class="ge ge-container">
                        <div class="ge ge-page">
                            <shell-stacked>
                                <shell-widget>
                                    <shell-stub></shell-stub>
                                </shell-widget>
                                <shell-widget>
                                    <shell-stub></shell-stub>
                                </shell-widget>
                                <shell-widget>
                                    <shell-stub></shell-stub>
                                </shell-widget>
                                <shell-target></shell-target>
                            </shell-stacked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ge ge-foot">
            </div>
        </div>

        {% endraw %}

        {% block templates %}

            {% for template in widget.templates %}
                {{ render(controller('NTR1XLayoutBundle:Layout:asset', {
                    asset: template,
                })) }}
            {% endfor %}

            {% for template in layout.templates %}
                {{ render(controller('NTR1XLayoutBundle:Layout:asset', {
                    asset: template,
                })) }}
            {% endfor %}

        {% endblock %}

    </body>
</html>
