{% extends 'NTR1XLayoutBundle:private-pages-list.html.twig' %}

{% block left %}

	{{ parent() }}

	<section class="private-nav">
		<h4>Редактирование</h4>
		<ul class="nav nav-pills nav-stacked">
			<li class="{{ app.request.attributes.get('_route') starts with 'admin-layout-pages-update' ? 'active' : '' }}"><a href="{{ path('admin-layout-pages-update', {
				id: page.id,
			}) }}">Основное</a></li>
			<li class="{{ app.request.attributes.get('_route') starts with 'admin-layout-pages-metas' ? 'active' : '' }}"><a href="{{ path('admin-layout-pages-metas', {
				id: page.id,
			}) }}">Мета <span class="badge">{{ page.metas|length }}</span></a></li>
			<li class="{{ app.request.attributes.get('_route') starts with 'admin-layout-pages-settings' ? 'active' : '' }}"><a href="{{ path('admin-layout-pages-settings', {
				id: page.id,
			}) }}">Настройки <span class="badge">{{ page.settings|length }}</span></a></li>
			<li class="{{ app.request.attributes.get('_route') starts with 'admin-layout-pages-sources' ? 'active' : '' }}"><a href="{{ path('admin-layout-pages-sources', {
				id: page.id,
			}) }}">Источники <span class="badge">{{ page.sources|length }}</span></a></li>
			<li class="{{ app.request.attributes.get('_route') starts with 'admin-layout-pages-refs' ? 'active' : '' }}"><a href="{{ path('admin-layout-pages-refs', {
				id: page.id,
			}) }}">Элементы <span class="badge">{{ page.refs|length }}</span></a></li>
		</ul>
	</section>
	
{% endblock %}


{% block editor %}

	<form enctype="multipart/form-data" id="form-update" method="POST"
		action="{{ path('admin-layout-pages-do-update') }}"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1>Редактирование страницы</h1>
				</div>
				<div class="col-xs-12 col-md-6">
					<input type="hidden" name="id" value="{{ form.inputData['$.request.id'] }}" />
					<div class="form-group">
						<label for="form-update-name">Имя</label>
						<input class="form-control" type="text" id="form-update-name" name="name" required="true" value="{{ form.inputData['$.request.name']|e }}" />
					</div>
					<div class="form-group">
						<label for="form-update-title">Заголовок</label>
						<input class="form-control" type="text" id="form-update-title" name="title" required="true" value="{{ form.inputData['$.request.title']|e }}" />
					</div>
					<section>
						<nav class="navbar">
							<input type="submit" class="btn btn-primary navbar-btn" value="Сохранить" />
						</nav>
					</section>
				</div>
			</div>
		<div>

	</form>

{% endblock %}