{% extends 'NTR1XLayoutBundle:private-layout.html.twig' %}

{% block editor %}

	<h1>Виджеты</h1>

	<section>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>Имя</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in widgets %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ item.name|e }}</td>
					<td>
                        {#
						<a class="btn btn-xs btn-default" href="{{ path('admin-layout-widgets-update', {
							id: item.id,
						}) }}">Редактировать</a>
						<a class="btn btn-xs btn-danger" href="{{ path('admin-layout-widgets-do-delete', {
							id: item.id,
						}) }}">Удалить</a>#}
                        <a class="btn btn-xs btn-success" href="{{ path('admin-layout-widgets-preview', {
                            name: item.name,
                            bundle: item.provider.bundle,
                        }) }}">Посмотреть</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>

{% endblock %}