{% extends 'NTR1XLayoutBundle:private-layout.html.twig' %}

{% block editor %}

	<h1>Источники</h1>

	<section>
		<nav class="navbar">
			<a class="btn btn-primary navbar-btn"
				href="{{ path('admin-layout-sources-create') }}"
			>Добавить</a>
		</nav>
	</section>

	<section>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>Имя</th>
					<th>Схема</th>
					<th>Метод</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in sources %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ item.domain.name|e }} {{ item.name|e }}</td>
					<td>{{ item.spec.name|e }} <a href="{{ item.spec.url|e }}">{{ item.spec.url|e }}</a></td>
					<td>{{ item.method|e }} {{ item.path|e }}</td>
					<td>
						<a class="btn btn-xs btn-default" href="{{ path('admin-layout-sources-update', {
							id: item.id,
						}) }}">Редактировать</a>
						<a class="btn btn-xs btn-danger" href="{{ path('admin-layout-sources-do-delete', {
							id: item.id,
						}) }}">Удалить</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>

{% endblock %}