<section class="widget-offers" id="{{ sid }}">
	{% if offers|length > 1 %}
	<div class="carousel slide" data-ride="carousel" id="{{ sid }}-carousel">
		<div class="carousel-inner" role="listbox">
		{% for a in offers %}
			<a class="offers-background {{ loop.index == 1 ? 'active' : '' }}" href="{{ a.url }}" style="background: transparent url('{{ asset(a.image.webPath) }}') no-repeat center center;')"></a>
		{% endfor %}
		</div>
		<a class="left carousel-control" href="#{{ sid }}-carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#{{ sid }}-carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
	{% else %}
		{% for a in offers %}
			<a class="offers-background" href="{{ a.url }}" style="background: transparent url('{{ asset(a.image.webPath) }}') no-repeat center center;')"></a>
		{% endfor %}
	{% endif %}
</section>