<section class="widget-results">
	<h1 class="results-title">{{ search.results.title }}</h1>
	<div class="results-items">
	{% for item in search.results.items %}
		<div class="result-item">
			<div class="item-preview">
				{% if item.thumbnail is defined %}
					<img src="{{ asset(item.thumbnail) }}" border="0" width="100%" />
				{% endif %}
			</div>
			<div class="item-details">
				<h3 class="details-title"><a href="{{ item.url }}">{{ item.title }}</a></h3>
				<div class="details-promo">{{ item.promo|raw }}</div>
				<div class="details-tags">
					<div class="tags">
						{% if item.date is defined %}
							<a class="tag date" href="{{ path('media', { s: search.query.string, c: search.query.category, t: search.query.tag, d: item.date|date('Y-m-d') }) }}">{{ item.date|date("d.m.Y") }}</a>
						{% endif %}
						{% for t in item.tags %}
							<a class="tag" href="{{ path('media', { s: search.query.string, c: search.query.category, t: t, d: search.query.date }) }}">{{ t }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div>По вашему запросу ничего не найдено</div>
	{% endfor %}
	</div>
</section>
