<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ model.portal.title }}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link href="/assets/css/vendor.css" rel="stylesheet" />
    <link href="/assets/css/app.css" rel="stylesheet" />

    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/ckeditor/ckeditor.js" async></script>
</head>
<body
    data-vue-viewer
    data-config="{{ json config }}"
    data-context="{{ json context }}"
    data-root="{{ root }}"
>

    <div data-vue-body>
        <router-view></router-view>
    </div>

{{{{raw}}}}
@@include('../www/public/assets/htm/app.htm')
{{{{/raw}}}}

</body>
</html>
