{% extends 'NTR1XMediaBundle:private-media-list.html.twig' %}

{% block editor %}

	<form enctype="multipart/form-data" id="form-create" method="POST"
		action="{{ path('admin-media-items-do-create', {
			category: category == null ? null : category.id
		}) }}"
		data-vue
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1>Новая запись</h1>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label for="form-create-title">Заголовок</label>
						<input class="form-control" type="text" id="form-create-title" name="title" required="true" value="{{ form.inputData['$.request.title']|e }}" />
					</div>
					<div class="form-group">
						<label for="form-create-category">Категория</label>
						<select class="form-control" id="form-create-category" name="category" required="true">
						{% for c in categories %}
							<option value="{{ c.id }}" {{ form.inputData['$.request.category'] == c.id ? 'selected="selected"' : ''}}>{{ c.title|e }}</option>
						{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="form-create-published">Дата публикации</label>
						<input v-date class="form-control" type="text" id="form-create-published" name="published" required="true" value="{{ form.inputData['$.request.published']|e }}" />
					</div>
					<div class="form-group">
						<label for="form-create-tags">Теги</label>
						<input v-tags class="form-control" type="text" id="form-create-tags" name="tags" value="{{ form.inputData['$.request.tags']|e }}" />
					</div>
					<div class="form-group">
						<label for="form-create-image">Картинка</label>
						{% if form.inputData['$.files.thumbnail'] %}
						<div>
							<img src="{{ asset('uploads/%s/%s'|format(form.inputData['$.files.thumbnail'].dir, form.inputData['$.files.thumbnail'].path)) }}" class="img-thumbnail" border="0" width="200px" />
						</div>
						{% endif %}
						<div>
							<a data-form="file" class="btn btn-default">
								<div class="control-input">
									<input type="file" id="form-create-image" name="thumbnail" />
								</div>
								<span>Загрузить</span>
							</a>
						</div>
					</div>
					<div class="form-group">
						<label for="form-update-video">Ссылка на видео</label>
						<input class="form-control" type="text" id="form-update-video" name="video" value="{{ form.inputData['$.request.video']|e }}" />
					</div>
					<div class="form-group">
						<label for="form-create-promo">Короткий текст</label>
						<textarea v-rich class="form-control" rows="8" id="form-create-promo" name="promo">{{ form.inputData['$.request.promo'] }}</textarea>
					</div>
					<div class="form-group">
						<label for="form-create-description">Длинный текст</label>
						<textarea v-rich class="form-control" rows="8" id="form-create-description" name="description">{{ form.inputData['$.request.description'] }}</textarea>
					</div>

					<section>
						<nav class="navbar">
							<input type="submit" class="btn btn-primary navbar-btn" value="Добавить" />
						</nav>
					</section>
				</div>
			</div>
		<div>

	</form>

{% endblock %}