<section class="widget-media-details" id="{{ sid }}">
	<h1 class="details-title">{{ item.title }}</h1>
	<div class="details-socials">
		<div class="socials">
			<a class="social fb" href="#"></a>
			<a class="social vk" href="#"></a>
			<a class="social tw" href="#"></a>
		</div>
	</div>
	<div class="details-promo">
		{{ item.promo|raw }}
	</div>
	{% if item.thumbnail != null %}
		<img class="details-image" src="{{ asset(item.thumbnail.webPath) }}" border="0" width="100%" />
	{% elseif item.video is not empty %}
		<iframe src="{{ asset(item.video|video('video')) }}" width="100%" height="400" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
	{% endif %}
	<div class="details-description">
		{{ item.description|raw }}
	</div>
	<div class="details-tags">
		<div class="tags">
			{% if item.published is defined %}
				<a class="tag date" href="{{ path('media', { d: item.published|date('Y-m-d') }) }}">{{ item.published|date("d.m.Y") }}</a>
			{% endif %}
			{% for t in item.tags %}
				<a class="tag" href="{{ path('media', { t: t.name }) }}">{{ t.name|e }}</a>
			{% endfor %}
		</div>
	</div>
</section>